In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Rent.xlsx")

In [3]:
df.head(10)

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100
5  1900  32500
6  1500  20000
7  1850  24500
8  2700  48000
9  2100  31000

# Drop

In [4]:
df1 = df.drop("area",axis=1) #col axis=1 row axis=0

In [5]:
df1.head(5)

    rent
0  31500
1  35000
2  41050
3  36100
4  52100

In [6]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [7]:
df.drop([2])#row drop

    area   rent
0   2000  31500
1   2100  35000
3   2250  36100
4   3000  52100
5   1900  32500
6   1500  20000
7   1850  24500
8   2700  48000
9   2100  31000
10  2150  34500
11  2100  32000
12  2100  34500
13  2510  40050
14  2250  34100
15  3100  51500
16  1800  30500
17  1550  21000
18  1800  25000
19  2700  47000
20  2110  31500
21  2100  33500
22  3500  70000
23  1200  20000
24  2800  50000
25  3100  53000
26  2750  48000
27  1800  25000
28  2200  31460
29  3100  51400
30  2100  33500
31  2100  35010
32  2500  41100
33  2250  35100
34  3000  52200
35  1900  32300
36  1500  20200
37  1850  24000
38  2700  47500
39  2100  31500
40  2150  34400
41  2100  32020
42  2100  34700
43  2510  40000
44  2250  35000
45  3100  51000
46  1800  30000
47  1550  21500
48  1800  25500
49  2700  47500
50  2110  31000
51  2100  33000
52  3500  70500
53  1200  20100
54  2800  51000
55  3100  54000
56  2750  48500
57  1800  25100
58  2200  31560
59  3100  51600

In [8]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [9]:
df.drop([2],axis=0,inplace=True) #dataframe update

In [10]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
3  2250  36100
4  3000  52100
5  1900  32500

In [11]:
df.drop(df.index[4:13],inplace=True) #Multiple row drop

In [12]:
df.head(20)

    area   rent
0   2000  31500
1   2100  35000
3   2250  36100
4   3000  52100
14  2250  34100
15  3100  51500
16  1800  30500
17  1550  21000
18  1800  25000
19  2700  47000
20  2110  31500
21  2100  33500
22  3500  70000
23  1200  20000
24  2800  50000
25  3100  53000
26  2750  48000
27  1800  25000
28  2200  31460
29  3100  51400

# Save Model

In [25]:
x = df[['area']]
y = df['rent']

In [26]:
from sklearn.model_selection import train_test_split as tts

In [27]:
xtrain,xtest,ytrain,ytest = tts(x,y,test_size=0.3,random_state=5)

In [28]:
xtrain.head()

    area
15  3100
58  2200
44  2250
47  1550
36  1500

In [29]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(xtrain,ytrain)

LinearRegression()

In [30]:
m = reg.coef_

In [31]:
m

array([21.26853262])

In [32]:
reg.predict([[2100]])

C:\Users\rabey\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([33055.5258053])

In [33]:
pred = reg.predict(xtest)
pred

array([62831.47147038, 33055.5258053 , 26674.96601992, 54324.05842321,
       45816.64537605, 26674.96601992, 36245.80569799, 13913.84644917,
       52197.20516142, 33055.5258053 , 33055.5258053 , 36245.80569799,
       33055.5258053 , 30928.67254351, 36245.80569799])

In [34]:
import pickle as pk
import joblib as jb

In [35]:
pk.dump(reg,open("first","wb"))

In [38]:
reg2 = pk.load(open("first","rb"))

In [39]:
reg2.predict([[2000]])

C:\Users\rabey\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([30928.67254351])

In [40]:
import warnings
warnings.filterwarnings("ignore")

In [41]:
jb.dump(reg, "second")

['second']

In [42]:
reg3 = jb.load("second")

In [43]:
reg2.predict([[2800]])

array([47943.49863784])

# Gradio Deployment

In [14]:
!pip install gradio

Requirement already satisfied: gradio in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (3.35.2)
Requirement already satisfied: aiofiles in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (22.1.0)
Requirement already satisfied: aiohttp in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (3.8.4)
Requirement already satisfied: altair>=4.2.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (5.0.1)
Requirement already satisfied: fastapi in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (0.98.0)
Requirement already satisfied: ffmpy in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (0.3.0)
Requirement already satisfied: gradio-client>=0.2.7 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (0.2.7)
Requirement already satisfied: httpx in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (0.24.1)
Requirement already satisfied: huggingface-hub>=0.14.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (0.15.1)
Requirement already satisfied: jinja2 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (3.1.2)
Requirement already satisfied: markdown-it-py[linkify]>=2.0.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (2.2.0)
Requirement already satisfied: markupsafe in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (2.1.1)
Requirement already satisfied: matplotlib in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (3.7.1)
Requirement already satisfied: mdit-py-plugins<=0.3.3 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (0.3.3)
Requirement already satisfied: numpy in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (1.23.5)
Requirement already satisfied: orjson in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (3.9.1)
Requirement already satisfied: pandas in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (2.0.1)
Requirement already satisfied: pillow in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (9.3.0)
Requirement already satisfied: pydantic in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (1.10.9)
Requirement already satisfied: pydub in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (0.25.1)
Requirement already satisfied: pygments>=2.12.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (2.14.0)
Requirement already satisfied: python-multipart in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (0.0.6)
Requirement already satisfied: pyyaml in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (6.0)
Requirement already satisfied: requests in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (2.28.2)
Requirement already satisfied: semantic-version in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (2.10.0)
Requirement already satisfied: uvicorn>=0.14.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (0.22.0)
Requirement already satisfied: websockets>=10.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio) (11.0.3)
Requirement already satisfied: jsonschema>=3.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from altair>=4.2.0->gradio) (4.17.3)
Requirement already satisfied: toolz in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from altair>=4.2.0->gradio) (0.12.0)
Requirement already satisfied: typing-extensions>=4.0.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from altair>=4.2.0->gradio) (4.6.3)
Requirement already satisfied: fsspec in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio-client>=0.2.7->gradio) (2023.6.0)
Requirement already satisfied: packaging in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from gradio-client>=0.2.7->gradio) (23.0)
Requirement already satisfied: filelock in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from huggingface-hub>=0.14.0->gradio) (3.8.0)
Requirement already satisfied: tqdm>=4.42.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from huggingface-hub>=0.14.0->gradio) (4.65.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from markdown-it-py[linkify]>=2.0.0->gradio) (0.1.2)
Requirement already satisfied: linkify-it-py<3,>=1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from markdown-it-py[linkify]>=2.0.0->gradio) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from pandas->gradio) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from pandas->gradio) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from pandas->gradio) (2022.4)
Requirement already satisfied: click>=7.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from uvicorn>=0.14.0->gradio) (8.1.3)
Requirement already satisfied: h11>=0.8 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from uvicorn>=0.14.0->gradio) (0.14.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from aiohttp->gradio) (22.2.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from aiohttp->gradio) (3.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from aiohttp->gradio) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from aiohttp->gradio) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from aiohttp->gradio) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from aiohttp->gradio) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from aiohttp->gradio) (1.3.1)
Requirement already satisfied: starlette<0.28.0,>=0.27.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from fastapi->gradio) (0.27.0)
Requirement already satisfied: certifi in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from httpx->gradio) (2022.12.7)
Requirement already satisfied: httpcore<0.18.0,>=0.15.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from httpx->gradio) (0.17.2)
Requirement already satisfied: idna in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from httpx->gradio) (3.4)
Requirement already satisfied: sniffio in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from httpx->gradio) (1.3.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->gradio) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->gradio) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->gradio) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->gradio) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->gradio) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from requests->gradio) (1.26.15)
Requirement already satisfied: colorama in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from click>=7.0->uvicorn>=0.14.0->gradio) (0.4.6)
Requirement already satisfied: anyio<5.0,>=3.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from httpcore<0.18.0,>=0.15.0->httpx->gradio) (3.6.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair>=4.2.0->gradio) (0.19.3)
Requirement already satisfied: uc-micro-py in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from linkify-it-py<3,>=1->markdown-it-py[linkify]>=2.0.0->gradio) (1.0.2)
Requirement already satisfied: six>=1.5 in c:\users\rabey\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas->gradio) (1.16.0)

In [16]:
import gradio as gr

In [44]:
def rent_recom(x):
    rent = reg3.predict([[x]])
    return rent

In [45]:
rent_recom(3000)

array([52197.20516142])

In [47]:
interface = gr.Interface(
    fn = rent_recom,
    inputs = ['number'],
    outputs = ['number']
).launch(share=False)

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.

In [48]:
import numpy as np

In [49]:
dataset = [8,9,2,10,3,5,7,12,15]

In [50]:
Q1 =np.percentile(dataset,25)

In [51]:
Q1

5.0

In [52]:
Q2 =np.percentile(dataset,50)
Q2

8.0

In [53]:
Q3 =np.percentile(dataset,75)
Q3

10.0

In [54]:
from matplotlib import pyplot as plt

In [55]:
df1 = pd.read_excel('shop.xlsx')

In [56]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [59]:
df1.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [60]:
df1.columns

Index(['Marketing Spend', 'Administration', 'Transport', 'Area', 'Profit'], dtype='object')

In [62]:
df2 = df1.copy()
df3 = df1.copy()
df4 = df1.copy()
df5 = df1.copy()

# Normalization

In [63]:
from sklearn.preprocessing import MinMaxScaler

In [66]:
mm = MinMaxScaler(feature_range = (12,15))

In [68]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [69]:
df2["Marketing Spend"] = mm.fit_transform(df2[["Marketing Spend"]])

In [70]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        14.077850       136897.80  471784.10    Dhaka  192261.83
1        14.950078       151377.59  443898.53      Ctg  191792.06
2        14.783954       101145.55  407934.54  Rangpur  191050.39
3        14.619409       118671.85  383199.62    Dhaka  182901.99
4        14.578313        91391.77  366168.42  Rangpur  166187.94

In [71]:
df2["Administration"] = mm.fit_transform(df2[["Administration"]])

In [72]:
df2["Transport"] = mm.fit_transform(df2[["Transport"]])

In [73]:
df2["Profit"] = mm.fit_transform(df2[["Profit"]])

In [75]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        14.077850       13.955232  15.000000    Dhaka  15.000000
1        14.950078       14.285915  14.822680      Ctg  14.992064
2        14.783954       13.138737  14.593991  Rangpur  14.979534
3        14.619409       13.538995  14.436705    Dhaka  14.841877
4        14.578313       12.915984  14.328407  Rangpur  14.559514

# Standardization

In [76]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [77]:
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [78]:
df3['Marketing Spend'] = ss.fit_transform(df3[['Marketing Spend']])

In [79]:
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913       136897.80  471784.10    Dhaka  192261.83
1         1.955860       151377.59  443898.53      Ctg  191792.06
2         1.754364       101145.55  407934.54  Rangpur  191050.39
3         1.554784       118671.85  383199.62    Dhaka  182901.99
4         1.504937        91391.77  366168.42  Rangpur  166187.94

In [80]:
df3['Administration'] = ss.fit_transform(df3[['Administration']])

In [81]:
df3['Profit'] = ss.fit_transform(df3[['Profit']])

In [83]:
df3['Transport'] = ss.fit_transform(df3[['Transport']])

In [84]:
df3.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.897913        0.560753   2.165287    Dhaka  2.011203
1         1.955860        1.082807   1.929843      Ctg  1.999430
2         1.754364       -0.728257   1.626191  Rangpur  1.980842
3         1.554784       -0.096365   1.417348    Dhaka  1.776627
4         1.504937       -1.079919   1.273550  Rangpur  1.357740

# Robust Scaler

In [85]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()

In [87]:
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [88]:
df4['Marketing Spend'] = rs.fit_transform(df4[['Marketing Spend']])
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530       136897.80  471784.10    Dhaka  192261.83
1         1.452113       151377.59  443898.53      Ctg  191792.06
2         1.303634       101145.55  407934.54  Rangpur  191050.39
3         1.156567       118671.85  383199.62    Dhaka  182901.99
4         1.119836        91391.77  366168.42  Rangpur  166187.94

In [90]:
df4['Administration'] = rs.fit_transform(df4[['Administration']])
df4['Transport'] = rs.fit_transform(df4[['Transport']])
df4['Profit'] = rs.fit_transform(df4[['Profit']])

In [91]:
df4.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.672530        0.345355   1.552016    Dhaka  1.698340
1         1.452113        0.697565   1.383714      Ctg  1.688874
2         1.303634       -0.524290   1.166654  Rangpur  1.673929
3         1.156567       -0.097977   1.017368    Dhaka  1.509736
4         1.119836       -0.761543   0.914576  Rangpur  1.172943

# Max Absolute Scaler

In [92]:
from sklearn.preprocessing import MaxAbsScaler

In [93]:
mb = MaxAbsScaler()

In [95]:
df5.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [96]:
df5['Marketing Spend'] = mb.fit_transform(df5[['Marketing Spend']])
df5['Administration'] = mb.fit_transform(df5[['Administration']])
df5['Transport'] = mb.fit_transform(df5[['Transport']])
df5['Profit'] = mb.fit_transform(df5[['Profit']])

In [97]:
df5.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.749527   1.000000    Dhaka  1.000000
1         0.983359        0.828805   0.940893      Ctg  0.997557
2         0.927985        0.553781   0.864664  Rangpur  0.993699
3         0.873136        0.649738   0.812235    Dhaka  0.951317
4         0.859438        0.500378   0.776136  Rangpur  0.864383